@page
@model NetMonitor.Webapp.Pages.User.Register

<div class="d-sm-table" style="border-spacing: 0px 10px">
    <div>
        <h3>Register</h3>
    </div>

    <form method="post">
        <div class="d-sm-table-row">
            <div class="d-sm-table-cell"><span class="me-3 fw-bold">Username</span></div>
            <div class="d-sm-table-cell">
                <input class="form-control" asp-for="Username" />
                <small><span class="text-danger" asp-validation-for="Username"></span></small>
            </div>
        </div>
        <div class="d-sm-table-row">
            <div class="d-sm-table-cell"><span class="me-3 fw-bold">Password</span></div>
            <div class="d-sm-table-cell">
                <input class="form-control" type="password" asp-for="Password" />
                <small><span class="text-danger" asp-validation-for="Password"></span></small>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="mt-3">
                <span class="text-danger fw-bold">@Model.Message</span>
            </div>
        }

        <div class="mt-3">
            <button class="btn btn-primary">Register</button>
        </div>
    </form>
</div>