@page
@model IndexModel

<h3>Active Monitor Instances</h3>

<table class="table table-sm table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Hosts</th>
        <th>Guid</th>
    </tr>
    </thead>
    <tbody>
    @if (!Model.isAuthenticated)
    {
        <div class="alert alert-primary" role="alert">
            Log in to see your monitor instances.
        </div>
    }
    else
    {
        @foreach (var m in Model.MonitorInstances)
        {
            @if (Model.IsAdmin || m.Manager.Username == Model.Username)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>
                        @foreach (var h in m.Hosts)
                        {
                            <a asp-page="/Hosts" asp-route-guid="@h.Guid">
                                <button type="button" class="btn btn-dark">@h.Hostname</button>
                            </a>
                        }
                    </td>
                    <td>@m.Guid</td>
                </tr>
            }
        }
    }
    </tbody>
</table>